<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" lang="pt-br">
    <link rel="icon" href="~/images/logo_footer.png">
    <title>Clinet: Página inicial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Style/index.css">
    <link rel="stylesheet" type="text/css" href="~/Style/principal.css">
</head>
<body>
    <header>
        <div id="header_superior">
            <h1>
                <a href="@Url.Action("Index", "Navegacao")"><img src="~/images/logo_footer.png" width="64" height="64" alt="Logotipo da Clinet">Clinet</a>
            </h1>

            <div id="form_pesquisa">
                <form action="recebedados.cshtml" method="post">
                    <input type="text" name="pesquisa">
                    <a href="@Url.Action("Index", "Navegacao")">
                        <img src="~/images/lupa.png" width="20" height="20">
                    </a>
                </form>
            </div>

            <div id="user">
                <a href="@Url.Action("LoginCadastroPaciente", "Paciente")">
                    <img src="~/images/user.png" alt="Inscreva-se ou acesse sua conta">
                </a>

            </div>
        </div>

        <nav>
            <ol>
                <li><a href="@Url.Action("Clinicas", "Navegacao")"><img src="~/images/clinica.png" width="32" height="32"> Clínicas</a></li>
                <li><a href="@Url.Action("PacienteMarcacao", "Paciente")"><img src="~/images/marcacao.png" width="32" height="32"> Marcação</a></li>
                <li><a href="@Url.Action("Contato", "Navegacao")"><img src="~/images/contato.png" width="32" height="32"> Contato</a></li>
            </ol>
        </nav>
    </header>

    <main>
        <section id="carrossel">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/images/slide1.png" alt="primeiro slide">
                    </div>

                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/slide2.png" alt="segundo slide">
                    </div>

                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/slide3.png" alt="terceiro slide">
                    </div>

                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/slide4.png" alt="quarto slide">
                    </div>

                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/images/slide5.png" alt="quinto slide">
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </section>

        <section id="card">
            <div>
                <img src="~/images/consulta.png" alt="ícone de marcação" width="100" height="100">

                <p>Marque a qualquer, hora sem precisar esperar em filas.</p>
            </div>

            <div>
                <img src="~/images/cancelamento.png" alt="ícone de cancelamento" width="100" height="100">

                <p>Cancele o exame a qualquer hora e com praticidade.</p>
            </div>

            <div>
                <img src="~/images/clinica.png" alt="ícone de clínicas" width="100" height="100">

                <p>Organize sua clínica de forma sistemática e segura.</p>
            </div>
        </section>

        <section id="grupoClinet">
            <div>
                <h1>Grupo Clinet</h1>
                <p>
                    Ferramenta criada em 2020 com o objetivo
                    de auxiliar pacientes ao realizar agendamentos
                    de suas consultas médicas de uma forma rápida,
                    prática e segura.
                </p>

                <p>
                    Projeto desenvolvido na disciplina de Desenvolvimento
                    de Projeto Integrador do curso técnico em
                    Informática para Internet do IFRN no campus
                    Natal - Central.
                </p>
            </div>
            <img src="~/images/pc.png" alt="Imagem no computador" width="300" height="250">
        </section>

        <section id="develop">
            <h1>Desenvolvedores</h1>
            <div>
                <div>
                    <img src="~/images/developer.jpg" alt="Desenvolvedores" width="230" height="230">
                    <h2>Klaus Augustus Ramos Reiniger</h2>
                </div>

                <div>
                    <img src="~/images/developer.jpg" alt="Desenvolvedores" width="230" height="230">
                    <h2>Leonardo da Silva Monteiro</h2>
                </div>

                <div>
                    <img src="~/images/developer.jpg" alt="Desenvolvedores" width="230" height="230">
                    <h2>Maria Luiza de Oliveira Cruz</h2>
                </div>
            </div>

            <div>
                <div>
                    <img src="~/images/developer.jpg" alt="Desenvolvedores" width="230" height="230">
                    <h2>Roberta Manuela da Silva Araújo</h2>
                </div>

                <div>
                    <img src="~/images/developer.jpg" alt="Desenvolvedores" width="230" height="230">
                    <h2>Thiago Xavier Lemos</h2>
                </div>

                <div>
                    <img src="~/images/developer.jpg" alt="Desenvolvedores" width="230" height="230">
                    <h2>Victor Miguel Gaspar de Oliveira</h2>
                </div>
            </div>


        </section>
    </main>

    <footer>
        <div id="display_footer">
            <nav id="telefone">
                <ol>
                    <li><img src="~/images/telefone.png" alt="telefone" width="32" height="32"> (XX) XXXX-XXXX</li>
                </ol>
            </nav>

            <div id="logo_footer">
                <h1>
                    <a href="@Url.Action("Index","Navegacao")"><img src="~/images/logo_footer.png" width="64" height="64" alt="Logotipo da Clinet">Clinet</a>
                </h1>
            </div>

            <nav id="redesocial">
                <ol>
                    <li><a target="" href="https://pt-br.facebook.com/"><img src="~/images/facebook.png" style="margin-right: -0.5em;" alt="Facebook" width="32" height="32"></a></li>
                    <!-- BOTEI MARGEM NEGATIVA NO CSS INLINE, PQ O ÍCONE NÃO É PROPORCIONAL AOS OUTROS. -->
                    <li><a href="https://www.instagram.com/?hl=pt-br"><img src="~/images/instagram.png" alt="Instagram" width="32" height="32"></a></li>
                    <li><a href="https://twitter.com/login?lang=pt"><img src="~/images/twitter.png" alt="Twitter" width="32" height="32"></a></li>
                </ol>
            </nav>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>