@model Modelo.Usuarios.Medico

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Clinet: Secretária - Cadastrar médico</title>
    <link rel="icon" href="~/images/logo_footer.png">
    <title>Clinet: Secretária - Página inicial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Style/principal.css">
    <link rel="stylesheet" type="text/css" href="~/Style/index.css">
</head>
<body>

    <header>
        <div id="header_superior">
            <h1>
                <a href="@Url.Action("SecretariaPaginaInicial", "SecretariaAcoes", new { username = TempData["this_secretaria_username"]})"><img src="~/images/logo_footer.png" width="64" height="64" alt="Logotipo da Clinet">Clinet</a>
            </h1>
            <div id="user" style=" display: flex; flex-wrap: nowrap; justify-content: space-between; flex-direction: row; color: white; font-family: 'Playfair Display', serif; margin-right: 60px;">
                <div id="userinfo" style="margin-left: -50px; width: 20em;">
                    <h4>@TempData["this_secretaria_nome"]</h4>
                    <h6><a href="@Url.Action("SecretariaDadosPessoais","SecretariaAcoes",new { username = TempData["this_secretaria_username"]})" style="color:white;">Editar Dados</a></h6>
                </div>
                <a href="@Url.Action("SecretariaDadosPessoais", "SecretariaAcoes",new { username = TempData["this_secretaria_username"]})">
                    <img src="~/images/user.png" alt="Inscreva-se ou acesse sua conta">
                </a>

            </div>
        </div>

        <nav>
            <ol>
                <li><a href="@Url.Action("SecretariaCadastrarClinica", "SecretariaAcoes")"><img src="~/images/clinica.png" width="32" height="32"> Clínicas</a></li>
                <li><a href="@Url.Action("SecretariaAgendamento", "SecretariaAcoes")"><img src="~/images/caderno.png" width="32" height="32"> Agendamentos</a></li>
                <li><a href="@Url.Action("ListarMedico", "SecretariaAcoes",new { username = TempData["this_secretaria_username"]})"><img src="~/images/doctor.png" width="32" height="32"> Médicos</a></li>
                <li><a href="@Url.Action("SecretariaHorarios", "SecretariaAcoes")"><img src="~/images/clock.png" width="32" height="32"> Horários</a></li>
                <li><a href="@Url.Action("Contato", "Navegacao")"><img src="~/images/contato.png" width="32" height="32"> Contato</a></li>
            </ol>
        </nav>
    </header>

    <main style="margin-bottom: 2em;">
        @using (Html.BeginForm("AtualizarMedico", "SecretariaAcoes", FormMethod.Post))
        {
            <div id="atendimento">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.medicoID)
                <fieldset>
                    <div id="display_cadastrarmedico">
                        <div>
                            <img src="~/Images/medico1.png" width="300" height="300">
                        </div>
                        <div id="login" style="margin-top: -1em;">
                            <div id="dados">
                                <div>
                                    @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @id = "nome", @placeholder = "Nome:", @style = " height: 2.5em; width: 17em;", @disabled="disabled" } })
                                    @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    @Html.EditorFor(model => model.especialidade, new { htmlAttributes = new { @id = "especialidade", @placeholder = "Especialidade:", @style = " height: 2.5em; width: 17em;", @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.especialidade, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    @Html.EditorFor(model => model.CRM, new { htmlAttributes = new { @id = "crm", @placeholder = "CRM:", @style = " height: 2.5em; width: 17em;", @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.CRM, "", new { @class = "text-danger" })
                                </div>
                                <div>
                                    @Html.EditorFor(model => model.telefone, new { htmlAttributes = new { @placeholder = "Contato:", @style = " height: 2.5em; width: 17em;", @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.telefone, "", new { @class = "text-danger" })

                                </div>
                                <div>
                                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @id = "user", @placeholder = "Usuário:", @style = " height: 2.5em; width: 17em;" , @disabled = "disabled" } })
                                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })

                                </div>


                            </div>
                        </div>
                    </div>
                    <div id="botoescrudmedico" style="width: 17em;display: flex;margin-left: 3.25em;margin-top: -14em;">
                            <a href="@Url.Action("EditMedico", "SecretariaAcoes", new { id = Model.medicoID, username = TempData["this_secretaria_username"]})">
                                <div id="envcadprototype" style="margin-top: 10px;margin-left:4em;">
                                    <h5 style="font-size: 16px;">Editar</h5>
                                </div>
                            </a>
</div>
                </fieldset>
            </div>
        }

    </main>

    <footer>
        <div id="display_footer">
            <nav id="telefone">
                <ol>
                    <li><img src="~/images/telefone.png" alt="telefone" width="32" height="32"> (XX) XXXX-XXXX</li>
                </ol>
            </nav>

            <div id="logo_footer">
                <h1>
                    <a href="@Url.Action("Index", "Navegacao")"><img src="~/images/logo_footer.png" width="64" height="64" alt="Logotipo da Clinet">Clinet</a>
                </h1>
            </div>

            <nav id="redesocial">
                <ol>
                    <li><a target="" href="https://pt-br.facebook.com/"><img src="~/images/facebook.png" style="margin-right: -0.5em;" alt="Facebook" width="32" height="32"></a></li>
                    <!-- BOTEI MARGEM NEGATIVA NO CSS INLINE, PQ O ÍCONE NÃO É PROPORCIONAL AOS OUTROS. -->
                    <li><a href="https://www.instagram.com/?hl=pt-br"><img src="~/images/instagram.png" alt="Instagram" width="32" height="32"></a></li>
                    <li><a href="https://twitter.com/login?lang=pt"><img src="~/images/twitter.png" alt="Twitter" width="32" height="32"></a></li>
                </ol>
            </nav>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>