@model Modelo.Usuarios.Secretaria

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" lang="pt-br">
    <link rel="icon" href="~/images/logo_footer.png">
    <title>Clinet: Login e Cadastro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Style/index.css">
    <link rel="stylesheet" type="text/css" href="~/Style/principal.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <header>
        <div id="header_superior">
            <h1>
                <a href="@Url.Action("Index", "Navegacao")"><img src="~/images/logo_footer.png" width="64" height="64" alt="Logotipo da Clinet">Clinet</a>
            </h1>

            <div id="form_pesquisa">
                <form action="recebedados" method="post">
                    <input type="text" name="pesquisa">
                    <a href="@Url.Action("Index", "Navegacao")">
                        <img src="~/images/lupa.png" width="20" height="20">
                    </a>
                </form>
            </div>

            <div id="user">
                <a href="@Url.Action("SecretariaCadastro", "SecretariaAcoes")">
                    <img src="~/images/user.png" alt="Inscreva-se ou acesse sua conta">
                </a>

            </div>
        </div>

        <nav>
            <ol>
                <li><a href="@Url.Action("Clinicas", "Navegacao")"><img src="~/images/clinica.png" width="32" height="32"> Clínicas</a></li>
                <li><a href="marcarconsulta"><img src="~/images/marcacao.png" width="32" height="32"> Marcações</a></li>
                <li><a href="@Url.Action("Clinicas", "Navegacao")"><img src="~/images/contato.png" width="32" height="32"> Contato</a></li>
            </ol>
        </nav>
    </header>
    <main>
        @using (Html.BeginForm("LogSecretaria", "SecretariaAcoes", FormMethod.Post))
        {
            <div id="login" style="background-color: #415454;">
                @Html.AntiForgeryToken()
                <img id="logim" src="~/images/loginicon.png" width="100px" height="100px">
                <fieldset>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="~/images/userblack.jfif" alt="User_logo" width="20px" height="20px"></div>
                            </div>
                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @type = "text", @class = "form-control", @id = "inlineFormInputGroup", @placeholder = "Usuário" } })
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><img src="~/images/lock.png" alt="cadeado" width="20px" height="20px"></div>
                            </div>
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @type = "password", @class = "form-control", @id = "inlineFormInputGroup", @placeholder = "Senha" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <button id="envlog" type="submit">Login</button>
                </fieldset>
            </div>
        }
        <form id="register" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div id="inscreva">
                <section id="titulo">
                    <img src="~/images/fotoinscreva.png">
                </section>
                <fieldset>
                    <div id="l1">
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control", @id = "inlineFormInputGroup", @placeholder = "Nome Completo" } })
                                @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="l2">
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                @Html.EditorFor(model => model.telefone, new { htmlAttributes = new { @class = "form-control", @id = "inlineFormInputGroup", @placeholder = "Telefone" } })
                                @Html.ValidationMessageFor(model => model.telefone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-auto" margin-right="50em">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                @Html.EditorFor(model => model.datanasc, new { htmlAttributes = new { @class = "form-control", @id = "inlineFormInputGroup", @placeholder = "Data de Nascimento" } })
                                @Html.ValidationMessageFor(model => model.datanasc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="l3">
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                @Html.EditorFor(model => model.cpf, new { htmlAttributes = new { @class = "form-control", @id = "inlineFormInputGroup", @placeholder = "CPF", @width = "60px" } })
                                @Html.ValidationMessageFor(model => model.cpf, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                @Html.EditorFor(model => model.rg, new { htmlAttributes = new { @class = "form-control", @id = "inlineFormInputGroup", @placeholder = "RG", @width = "60px" } })
                                @Html.ValidationMessageFor(model => model.rg, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="l4">
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @id = "inlineFormInputGroup", @placeholder = "E-mail" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div id="conta">
                <section id="titulo">
                    <img src="~/images/fotousuario.png">
                </section>
                <fieldset>
                    <div id="l2">
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @id = "inlineFormInputGroup", @placeholder = "Usuario" } })
                                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-auto" margin-right="50em">
                            <label class="sr-only" for="inlineFormInputGroup">Senha</label>
                            <div class="input-group mb-2">
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @type = "password", @class = "form-control", @id = "inlineFormInputGroup", @placeholder = "Senha" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-auto" margin-right="50em">
                            <label class="sr-only" for="inlineFormInputGroup">Clinica</label>
                            <div class="input-group mb-2">
                                @Html.EditorFor(model => model.provclinica, new { htmlAttributes = new { @type = "nomeclinica", @class = "form-control", @id = "inlineFormInputGroup", @placeholder = "Nome da Clínica" } })
                                @Html.ValidationMessageFor(model => model.provclinica, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button id="envcad" type="submit">Registrar-se</button>
            </div>
        </form>
    </main>
    <footer>
        <div id="display_footer">
            <nav id="telefone">
                <ol>
                    <li><img src="~/images/telefone.png" alt="telefone" width="32" height="32"> (XX) XXXX-XXXX</li>
                </ol>
            </nav>

            <div id="logo_footer">
                <h1>
                    <a href="index"><img src="images/logo_footer.png" width="64" height="64" alt="Logotipo da Clinet">Clinet</a>
                </h1>
            </div>

            <nav id="redesocial">
                <ol>
                    <li><a target="" href="https://pt-br.facebook.com/"><img src="~/images/facebook.png" style="margin-right: -0.5em;" alt="Facebook" width="32" height="32"></a></li>
                    <!-- BOTEI MARGEM NEGATIVA NO CSS INLINE, PQ O ÍCONE NÃO É PROPORCIONAL AOS OUTROS. -->
                    <li><a href="https://www.instagram.com/?hl=pt-br"><img src="~/images/instagram.png" alt="Instagram" width="32" height="32"></a></li>
                    <li><a href="https://twitter.com/login?lang=pt"><img src="~/images/twitter.png" alt="Twitter" width="32" height="32"></a></li>
                </ol>
            </nav>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


