@model Modelo.Usuarios.Secretaria 
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" lang="pt-br">
    <link rel="icon" href="~/images/logo_footer.png">
    <title>Clinet: Médico - Dados pessoais</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Style/index.css">
    <link rel="stylesheet" type="text/css" href="~/Style/principal.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="header_superior">
            <h1>
                <a href="@Url.Action("SecretariaPaginaInicial", "SecretariaAcoes", new { username = Model.username})"><img src="~/images/logo_footer.png" width="64" height="64" alt="Logotipo da Clinet">Clinet</a>
            </h1>
            <div id="user" style=" display: flex; flex-wrap: nowrap; justify-content: space-between; flex-direction: row; color: white; font-family: 'Playfair Display', serif; margin-right: 60px;">
                <div id="userinfo" style="margin-left: -50px; width: 20em;">
                    <h4>@Html.DisplayFor(model => model.nome)</h4>
                    <h6><a href="@Url.Action("SecretariaDadosPessoais","SecretariaAcoes",new { username = Model.username})" style="color:white;">Editar Dados</a></h6>
                </div>
                <a href="@Url.Action("SecretariaDadosPessoais", "SecretariaAcoes",new { username = Model.username})">
                    <img src="~/images/user.png" alt="Inscreva-se ou acesse sua conta">
                </a>

            </div>
        </div>

        <nav>
            <ol>
                <li><a href="@Url.Action("Clinicas", "Navegacao")"><img src="~/images/clinica.png" width="32" height="32"> Clínicas</a></li>
                <li><a href="marcarconsulta"><img src="~/images/calendar.png" width="32" height="32"> Horários</a></li>
                <li><a href="@Url.Action("Contato", "Navegacao")"><img src="~/images/contato.png" width="32" height="32"> Contato</a></li>
            </ol>
        </nav>
    </header>
    <main>
        <section id="perfil">
            @using (Html.BeginForm("SecretariaDadosPessoais", "SecretariaAcoes", FormMethod.Post, new { htmlAttributes = new { @id = "dadosP", @autocomplete = "off" } }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ClinicaID)
                @Html.HiddenFor(model => model.rg)
                @Html.HiddenFor(model => model.secretariaID)
                @Html.HiddenFor(model => model.provclinica)
                @Html.HiddenFor(model => model.datanasc)
                <div id="titulo1">
                    <img src="~/images/perfil.png">
                </div>

                <fieldset id="areaPerfil">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <img id="trocarFT" src="~/images/foto(trocar).png" width="300" height="300">

                    <div class="dp">
                        <label for="name"></label>
                        @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "campo_perfil", @type = "text", @id = "name" } })
                        @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })

                        <label for="name"></label>
                        @Html.EditorFor(model => model.cpf, new { htmlAttributes = new { @class = "campo_perfil", @type = "text", @id = "name" } })
                        @Html.ValidationMessageFor(model => model.cpf, "", new { @class = "text-danger" })

                        <label for="name"></label>
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "campo_perfil", @type = "text", @id = "name" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        <label for="name"></label>
                        @Html.EditorFor(model => model.telefone, new { htmlAttributes = new { @class = "campo_perfil", @type = "text", @id = "name" } })
                        @Html.ValidationMessageFor(model => model.telefone, "", new { @class = "text-danger" }) <a href=""><img src="~/images/edit.png" width="30" height="30"></a>
                    </div>

                    <div class="dp2">
                        <label for="name"></label>
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "campo_perfil", @type = "text", @id = "name" } })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" }) <a href=""><img src="~/images/edit.png" width="30" height="30"></a>

                        <label for="name"></label>
                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "campo_perfil", @type = "text", @id = "name" } })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" }) <a href=""><img src="~/images/edit.png" width="30" height="30"></a>
                    </div>

                    <button id="salvaralter" type="submit">Salvar alterações</button>

                </fieldset>
            }
        </section>
    </main>
    <footer>
        <div id="display_footer">
            <nav id="telefone">
                <ol>
                    <li><img src="~/images/telefone.png" alt="telefone" width="32" height="32"> (XX) XXXX-XXXX</li>
                </ol>
            </nav>

            <div id="logo_footer">
                <h1>
                    <a href="@Url.Action("Index", "Navegacao")"><img src="~/images/logo_footer.png" width="64" height="64" alt="Logotipo da Clinet">Clinet</a>
                </h1>
            </div>

            <nav id="redesocial">
                <ol>
                    <li><a target="" href="https://pt-br.facebook.com/"><img src="~/images/facebook.png" style="margin-right: -0.5em;" alt="Facebook" width="32" height="32"></a></li>
                    <!-- BOTEI MARGEM NEGATIVA NO CSS INLINE, PQ O ÍCONE NÃO É PROPORCIONAL AOS OUTROS. -->
                    <li><a href="https://www.instagram.com/?hl=pt-br"><img src="~/images/instagram.png" alt="Instagram" width="32" height="32"></a></li>
                    <li><a href="https://twitter.com/login?lang=pt"><img src="~/images/twitter.png" alt="Twitter" width="32" height="32"></a></li>
                </ol>
            </nav>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
